.project {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60vh;
    padding: 10px;
    background-color: #EEEEEE;
    overflow: visible;
}

.projectContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 50vh;
    overflow: visible;
}

.projectCard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 35vh;
    height: 35vh;
    padding: 20px;
    margin: 20px;
    background-color: #212121;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 2px rgba(21,21,21,0.77);
    overflow: visible;
}

.projectCardTItleLanguage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.projectCardTitle {
    margin-bottom: 10px;
    color: #FFB614;
    font-size: x-large;
    font-weight: bold;
    width: 70%;
    text-align: center;
}

.projectCardLanguage {
    margin-bottom: 8px;
    color: #808080;
    font-size: large;
    font-weight: normal;
}

.projectCardDescription {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50%;
    color: white;
    font-size: large;
    text-align: center;
    font-weight: 300;
}

.githubButton {
    bottom: 30px;
	padding: 5px 15px;
    border: 1px solid white;
    border-radius: 5px;
	background: none;
	color: black;
    font-size: larger;
    font-weight: semibold;
    background-color: #FFB614;
	cursor: pointer;
	outline: inherit;
}