.contact {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30vh;
    padding: 10px;
    background-color: #151515;
}

.contactContent {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
}

.contactItem {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 20%;
    height: 80%;
}

.contactItemTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: #f39c12;
    font-size: xx-large;
}

.contactItemContent {
    color: #808080;
    font-weight: 500;
}