html, body, .App {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.App {
  height: 100vh;
  background-color: #000000;
  font-weight: 100;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #121212;
  color: #808080;
}

span {
  font-weight: 500;
}